<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <title>Contacto</title>
  </head>
  
  <% if (document.cookie == "nombre=admin") { %>
    <%= include('../partials/footer'); %>
      <% }  %>
<% }  %>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container">
      <h1><u>Contacto</u></h1>
      <%- include('../partials/form'); %>
    </div>
    <footer class="bg-primary mt-5 fixed-bottom container-fluid">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
