<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
    <title>Contacto</title>
  </head>
  <body>
    <div><% if (datosGuardados == "none" || datosGuardados == undefined) { %>
      <%- include('../partials/navbar'); %>
      <% }  %></div>
    <div><% if (datosGuardados == "admin") { %>
      <%- include('../partials/navbarAdmin'); %>
      <% }  %></div>
    <div><% if (datosGuardados == "user") { %>
      <%- include('../partials/navbarUser'); %>
      <% }  %></div>
    <div class="container">
      <h1><u>Contacto</u></h1>
      <%- include('../partials/form'); %>
    </div>
    <footer class="bg-primary mt-5 fixed-bottom container-fluid">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
