<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div>
        <% if (datosGuardados == "none" || datosGuardados == undefined ) { %>
            <%- include('../partials/navbar'); %>
                <% } %>
    </div>
    <div>
        <% if (datosGuardados=="admin" ) { %>
            <%- include('../partials/navbarAdmin'); %>
                <% } %>
    </div>
    <div>
        <% if (datosGuardados=="user" ) { %>
            <%- include('../partials/navbarUser'); %>
                <% } %>
    </div>
    <%- include('../partials/gracias'); %>
    <footer class="bg-primary mt-5">
        <%- include('../partials/footer'); %>
      </footer>
</body>

</html>