<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <% if (datosGuardados != null) { %>
      <% if (datosGuardados.rol == "admin") { %>
        <script>
        console.log('<%=datosGuardados.rol%>')
        localStorage.setItem("login", JSON.stringify({
                rol: '<%=datosGuardados.rol%>',
                user_id: '<%=datosGuardados.id%>'
            }));
      </script>
        <% }  %>
  <% }  %>
  <body>
    <div><%- include('../partials/navbar'); %></div>
    <div class="container">
      <div class="d-flex">
        <div><%- include('../partials/mision'); %></div>
      </div>
      <div class="my-5"><%- include('../partials/botones'); %></div>
    </div>
    <div>
      <footer class="bg-primary mt-5">
        <%- include('../partials/footer'); %>
      </footer>
    </div>
  </body>
</html>
